<a href="https://colab.research.google.com/github/gauravvxv/Netflix-Users-Database/blob/main/Notebook/users.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üé•**Netflix Users Project**

##  üìå**1. Introduction**

In this project, i am working on Netflix users dataset. The main objective is to analyze and visualize user data to uncover patterns and insights. This includes understanding user demographics, subscription types, content preferences, viewing habits. By performing data cleaning, exploration, and visualization.

##  üì•**2. Import libraries**

We import necessary libraries for data handling and visualization:



*   `pandas` for data manipulation
*   `matplotlib` and `seaborn` for data visualization

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## üìÅ **3. Load Dataset**

We load dataset using pandas display first few rows to understand the structure

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
path = '/content/drive/MyDrive/Netflix-users'

df = pd.read_csv(path+'/netflix_users.csv')

In [7]:
df.head()

,User_ID,Name,Age,Country,Subscription_Type,Watch_Time_Hours,Favorite_Genre,Last_Login
0,1,James Martinez,18,France,Premium,80.26,Drama,2024-05-12
1,2,John Miller,23,USA,Premium,321.75,Sci-Fi,2025-02-05
2,3,Emma Davis,60,UK,Basic,35.89,Comedy,2025-01-24
3,4,Emma Miller,44,USA,Premium,261.56,Documentary,2024-03-25
4,5,Jane Smith,68,USA,Standard,909.30,Drama,2025-01-14

## üßê 4. **Initial Data Exploration**

Exploring the dataset using basic functions like `.info()`, `.describe()` `.shape` and check the missing values.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User_ID            25000 non-null  int64
 1   Name               25000 non-null  object
 2   Age                25000 non-null  int64
 3   Country            25000 non-null  object
 4   Subscription_Type  25000 non-null  object
 5   Watch_Time_Hours   25000 non-null  float64
 6   Favorite_Genre     25000 non-null  object
 7   Last_Login         25000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ MB

In [9]:
df.describe()

            User_ID           Age  Watch_Time_Hours
count  25000.000000  25000.000000      25000.000000
mean   12500.500000     46.482880        500.468858
std     7217.022701     19.594861        286.381815
min        1.000000     13.000000          0.120000
25%     6250.750000     29.000000        256.567500
50%    12500.500000     46.000000        501.505000
75%    18750.250000     63.000000        745.732500
max    25000.000000     80.000000        999.990000

In [10]:
df.shape

(25000, 8)

In [11]:
df.isnull().sum()

User_ID              0
Name                 0
Age                  0
Country              0
Subscription_Type    0
Watch_Time_Hours     0
Favorite_Genre       0
Last_Login           0
dtype: int64

**After exploring the dataset, it was found that there are 25000 rows and 8 columns.**

**Also there is no null values in dataset.**

## ‚è≤ 5. **Convert Last_login into datetime**

In [20]:
df['Last_Login'] = pd.to_datetime(df['Last_Login'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User_ID            25000 non-null  int64
 1   Name               25000 non-null  object
 2   Age                25000 non-null  int64
 3   Country            25000 non-null  object
 4   Subscription_Type  25000 non-null  object
 5   Watch_Time_Hours   25000 non-null  float64
 6   Favorite_Genre     25000 non-null  object
 7   Last_Login         25000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 1.5+ MB

## üíæ 6. **Exploratory Data Analysis (EDA)**

### Numbers of users per Subscription_Type

In [25]:
subscription_counts = df['Subscription_Type'].value_counts()
subscription_counts

Subscription_Type
Premium     8402
Basic       8356
Standard    8242
Name: count, dtype: int64